*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;

}


html{

    font-size:62.5%;
}

:root{

    --bitcoin-orange:#f7931a;
    --soft-orange:#FFE9D5;
    --secondary-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#faf8f7;
    --just-white:#fff;


}




header{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background:linear-gradient(to top,orange 40%,yellow);
    width:100%;
    height:335px;
    margin:0 auto;
    
    max-width: 800px;

}

.header--container{

    display: flex;
    flex-direction: column;
    align-items: center;

    width:90%;
    height: auto;
    text-align: center;

}


.header--container__logo{

    display: block;
    width:200px;
    height:40px;

    background: url("./assets/img/logo.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;



}

.header--container__h1{

    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    width: 100%;
    color:white;

    margin-top: 20px;
    margin-bottom: 20px;

}

.header--container__p{

    font-size: 1.4rem;
    font-weight: 300;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header--container__a{
    
    
    position: relative;
    top: 50px;
    border: 1px solid white;
    width: 225px;
    height: 40px;
    font-size: 1.6rem;
    text-align: center;
    padding:10px;
    background: linear-gradient(to bottom ,orange ,yellow ,white );
    border-radius: 25px;        

}


.seccion--fotobtc{


    display:flex;
    flex-direction: column;
    align-items: center;
    height:300px;
    justify-content: center;
    margin:0 auto;
    border: 2px solid linear-gradient(black,yellow);
    max-width: 800px;
    margin:0 auto;


}

.seccion--fotobtc__div{

    background:url(./assets/img/Bitcoin.svg);
    width:100%;
    height:300px;
    opacity: 70%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 800px;
}





/* ACA ARRANCAN TODOS LOS ELEMENTOS DE LA TABLA  */





.seccion--tabla{

    width: 100%;
    height:642px;
    background:linear-gradient(to bottom  ,var(--just-white) 80%  ,yellow );
    max-width: 800px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: lightyellow;
    padding: 10px;
    margin:0 auto;

}

.seccion--tabla__divTextos{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    padding: 10px;
}


.seccion--tabla__divTextos h2{

    font-size: 2rem;
    font-weight: bold;
    line-height: 2.4rem;
    width: 100%;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 30px;


}

.seccion--tabla__divTextos p{

    font-size: 1.4rem;
    font-weight: 500;
    
    width: 100%;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;


}

p1{

    font-size: 1.8rem;
    font-weight: 800;
    color: orange;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}



.seccion--tabla__divTabla{

    display: flex;
    flex-direction: column;
    align-items: center;
    height:40%;
    width:90%;
    justify-content: center;
}


.seccion--tabla--divTabla__table td{

    width:100px;
    height:50px;
    border:solid 1px black;
    color: var(--grey);
    text-align: center;
    font-family: "Inter" , sans-serif;
    font-size:1.2rem;
    border:1px solid black;
    background-color: var(--);    
    border-radius: 15px ;
}


.table--td__spanSube{

    background:url("./assets/icons/trending-up.svg");
    width:12px;
    height:15px;

    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    margin-left:2px;

}

.table--td__spanBaja{

    background:url("./assets/icons/trending-down.svg");
    width:12px;
    height:15px;

    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    margin-left:2px;



}


.seccion--tabla__pa{

    width: 50%;
    height:35px;

    background: linear-gradient(to top ,var(--bitcoin-orange) ,yellow);
    text-align: center;
    padding:10px;
    font-size:1.2rem;
    border-radius: 25px;
    min-width: 165px;

}


/* ACA EMPIEZA LA SECCION DE BENEFICIOS  */

.seccion--beneficios{

    width:100%;
    height:642px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    background: var(--black);
    padding:10px;
    margin:0 auto;
}


.seccion--beneficios__divLogo{

    width:100px;
    height:100px;
    background-color: var(--black);
    position:relative;
    bottom:40px;
    background:url("./assets/icons/batata.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.seccion--beneficios__divTextos{

    width:100%;
    height:100px;
    background-color: var(--black);

}

.seccion--beneficios__divTextos h2 {

    color:white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;

}
.seccion--beneficios__divTextos p {

    color:gray;
    font-size: 1.2rem;
    text-align: center;

}





.seccion--beneficios__divTarjetas{

    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
    justify-content: space-evenly;
}

.seccion--beneficios__divTarjetas article {

    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:22%;
    background-color: var(--warm-black);
    width:80%;
    padding: 10px;
    border-radius: 20px;



}


.seccion--beneficios__divTarjetas article span{

    width:20px;
    height:20px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;


}

.seccion--beneficios__divTarjetas__title{

    color: white;
    font-size: 1.6rem;

}

.clock{

    background: url("./assets/icons/clock.svg");
}

.eyes{

    background: url("./assets/icons/eye.svg");

}

.dolar{

    background:url("./assets/icons/dollar-sign.svg");

}

.checked{
   
    background: url("./assets/icons/check-circle.svg");

}

.seccion--beneficios__divTarjetas__text{
    color: var(--grey);
}











